DASHBOARD_HOST=192.168.1.100
DASHBOARD_SCHEME=http

COMUNICATI_IMAP_HOST=imap.example.com
COMUNICATI_IMAP_PORT=993
COMUNICATI_IMAP_USER=
COMUNICATI_IMAP_PASSWORD=

FOTO_IMAP_HOST=imap.example.com
FOTO_IMAP_PORT=993
FOTO_IMAP_USER=foto@montagneepaesi.com
FOTO_IMAP_PASSWORD=
